<!DOCTYPE html>
<html>
    <head>
        <title>Details</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="Assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="Assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="Assets/css/lightbox.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="cont">
            <header>
                <!--<div class="row">
                    <div class="col-md-12 col-sm-12">
                        <nav class="top col-sm-12 nav">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>-->
                <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <img src="Assets/img/images/logo_03.png" alt=""/>
                        <h4 class="sub-text">Online Consumer to Consumer Portal</h4>
                    </div>
                </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="ads">
                            <h4>Place Your Adverts Here</h4>
                        </div>
                    </div>
	        <!--<div class="col-md-8 col-sm-12">
		   <form class="form-inline header-form">
		      <div class="form-group">
		      <div class="input-group">
		      <div class="input-group-addon">&#xf007;</div>
		        <input type="text" name="uname" placeholder="Username" class="form-control"></input>
		      </div>
		      </div>
		      <div class="form-group">
		      <div class="input-group">
		      <div class="input-group-addon">&#xf084;</div>
			<input type="password" name="pword" placeholder="Password" class="form-control"></input>
		      </div>
		      </div>
		      <button class="btn btn-default" type="submit" name="login">Login</button>
		      <a href="#" class="btn btn-success" role="button">Signup</a>
		   </form>
	        </div>-->
            </div>
        <!--navbar-->
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <nav class="navbar navbar-top">
                    <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                               Menu
                        </button>
                        </div>
       </nav>
            </div>      
          </div>
		   
            </header>
            </div>
            <div class="container">
                <div class="row">
		<div class="col-md-12  search-bar">
                        <form class="form-inline frm">
			    <div class="form-group col-md-3">
			    <select name="location" class="form-control" id="location">
				    <option>&#xf041; Location</option>
                                    <option>Kano</option>
                                    <option>Kaduna</option>
                                    <option>Katsina</option>
                                </select>
                            </div>
                            <div class="form-group col-md-7">
			        <input type="text" id="textarea" class="form-control"  name="Search" placeholder="&#xf002; Search"></input>
                            </div>
                            <div class="col-md-2">
			        <button class="btn btn-default" id="btnsearch" name="search" type="submit">Search</button>
			    </div>
                        </form>
                </div>
                </div>
                <section>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="Assets/img/images/thumbnial_03.png" data-lightbox="productimg" data-title="front"><img class="product-img" src="Assets/img/images/thumbnial_03.png" alt=""/></a>
                                    <a class="light" href="Assets/img/images/thumbnail1_03.png" data-lightbox="productimg" data-title="Back"><img class="product-img" src="Assets/img/images/thumbnail1_03.png" alt=""/></a>
                                    <a class="light" href="Assets/img/images/thumbnail2_03.png" data-lightbox="productimg" data-title="Side"><img class="product-img" src="Assets/img/images/thumbnail2_03.png" alt=""/></a>
                                </div>
                                <div class="col-md-8">
                                    <h2>Samsung Galaxy S5</h2>
                                    <div class="price-main"><h4>$699.9</h4></div>
                                    <hr>
                                    <button class="btn btn-success" type="submit" name="contact">Contact Seller</button>
                                    <br><br><br>
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        
                                            <div class="panel panel-default active">
                                              <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Description
                                                  </a>
                                                </h4>
                                              </div>
                                              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada.
                                                </div>
                                              </div>
                                            </div>
                                            <div class="panel panel-default">
                                              <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Specification
                                                  </a>
                                                </h4>
                                              </div>
                                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada.
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sidebar">
                            <div class="list-group">
                                <p class="list-group-item">Posted: 20/09/2016</p>
                                <p class="list-group-item">Location: Kano State</p>
                                <p class="list-group-item">Views: 200</p>
                                <p class="list-group-item">Status: Sold</p>
                            </div>
                            <h3>Please read this before Purchasing</h3>
                            <div class="list-group safety">
                                <p class="list-group-item"><b>NEVER PAY BEFORE PURCHASE</b></p>
                                <p class="list-group-item">Try to meet at a safe, public location</p>
                                <p class="list-group-item">Check the item BEFORE you buy it</p>
                                <p class="list-group-item">Pay only after collecting the item</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="related">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header"><h2>Similar Products</h2></div>
                            <div class="col-md-3 thumbnail">
                                <img src="Assets/img/images/axe_03.png" alt=""/>
                                <div class="caption">
                                    <h4 class="pull-right">$799.9</h4>
                                    <h4><a href="#">Iphone 5s</a></h4>
                                    <h5>Gwale janbulo 16Sep</h5>
                                </div>
                            </div>
                            <div class="col-md-3 thumbnail">
                                <img src="Assets/img/images/axe_03.png" alt=""/>
                                <div class="caption">
                                    <h4 class="pull-right">$799.9</h4>
                                    <h4><a href="#">Iphone 5s</a></h4>
                                    <h5>Kmc Yakasai 12Sep</h5>
                                </div>
                            </div>
                            <div class="col-md-3 thumbnail">
                                <img src="Assets/img/images/axe_03.png" alt=""/>
                                <div class="caption">
                                    <h4 class="pull-right">$799.9</h4>
                                    <h4><a href="#">Iphone 5s</a></h4>
                                    <h5>Dala Koki 13Sep</h5>
                                </div>
                            </div>
                            <div class="col-md-3 thumbnail">
                                <img src="Assets/img/images/axe_03.png" alt=""/>
                                <div class="caption">
                                    <h4 class="pull-right">$799.9</h4>
                                    <h4><a href="#">Iphone 5s</a></h4>
                                    <h5>Ungoggo Rijiyar zaki 19Sep</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="footersignup">
                <p>MyStore &copy; 2016 - <a href="#">Terms</a> &middot; <a href="#">Conditions</a></p>
            </footer>
        </div>
    </body>
    <script src="Assets/js/jquery.js" type="text/javascript"></script>
    <script src="Assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="Assets/js/lightbox.js" type="text/javascript"></script>
</html>
