<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Item List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="Assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="Assets/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="wrapper">
            <header class="item-header">
                <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <img src="Assets/img/images/logo_03.png" alt=""/>
                        <h4 class="sub-text">Online Consumer to Consumer Portal</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 search-bar">
                    <form class="form-inline frm">
                        <div class="form-group col-md-3">
                            <select class="form-control" id="location">
                                    <option>Location</option>
                                    <option>Kano</option>
                                    <option>Kaduna</option>
                                    <option>Katsina</option>
                                </select>
                        </div>
                         <div class="form-group col-md-7">
                            <input type="text" class="form-control" id="textarea" placeholder="&#xf002; Seaerch">
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-warning" id="btnsearch" name="search">Search</button>
                        </div>
                    </form>
                </div>
        </div>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 cls clear">
                        <div class="col-md-12 category-header">
                            <h4>Categories</h4>
                            <ul class="nav">
                                <li><a href="#">Phones</a></li>
                                <li><a href="#">Tablets</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Funitures</a></li>
                                <li><a href="#">Automoblie</a></li>
                                <li><a href="#">Clothing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 clear">
                        <div class="col-md-12" id="items">
                            <div class="thumbnail">
                                <img src="Assets/img/images/axe_04.png" alt=""/>
                                <a href="#"><h4>Samsung Galaxy S5</h4></a>
                            </div>
                            <div class="caption">
                               <p class="description">
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt.
                               </p>
                                
                               <h4 id="price">$699.9</h4>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-8 clear">
                        <div class="col-md-12" id="items">
                            <div class="thumbnail">
                                <img src="Assets/img/images/axe_04.png" alt=""/>
                                <a href="#"><h4>Samsung Galaxy S5</h4></a>
                            </div>
                            <div class="caption">
                               <p class="description">
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt.
                               </p>
                                
                               <h4 id="price">$699.9</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 clear">
                        <!--<div class="col-md-12" id="items">
                            <div class="thumbnail">
                                <img src="Assets/img/images/axe_04.png" alt=""/>
                                <a href="#"><h4>Samsung Galaxy S5</h4></a>
                            </div>
                            <div class="caption">
                               <p class="description">
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor accumsan tincidunt.
                               </p>
                                
                               <h4 id="price">$699.9</h4>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </body>
</html>
