    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-agenda:before { content: "\f100"; }
.flaticon-briefcase:before { content: "\f101"; }
.flaticon-calculator:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-calendar-1:before { content: "\f104"; }
.flaticon-coffee-cup:before { content: "\f105"; }
.flaticon-credit-card:before { content: "\f106"; }
.flaticon-desk-chair:before { content: "\f107"; }
.flaticon-documentation:before { content: "\f108"; }
.flaticon-files:before { content: "\f109"; }
.flaticon-folders:before { content: "\f10a"; }
.flaticon-laptop:before { content: "\f10b"; }
.flaticon-light-bulb:before { content: "\f10c"; }
.flaticon-line-chart:before { content: "\f10d"; }
.flaticon-money:before { content: "\f10e"; }
.flaticon-money-bag:before { content: "\f10f"; }
.flaticon-monitor:before { content: "\f110"; }
.flaticon-mouse:before { content: "\f111"; }
.flaticon-notebook:before { content: "\f112"; }
.flaticon-office-block:before { content: "\f113"; }
.flaticon-padlock:before { content: "\f114"; }
.flaticon-placeholder:before { content: "\f115"; }
.flaticon-portfolio:before { content: "\f116"; }
.flaticon-printer:before { content: "\f117"; }
.flaticon-printer-1:before { content: "\f118"; }
.flaticon-ringtone:before { content: "\f119"; }
.flaticon-safebox:before { content: "\f11a"; }
.flaticon-smartphone:before { content: "\f11b"; }
.flaticon-target:before { content: "\f11c"; }
.flaticon-trophy:before { content: "\f11d"; }
.flaticon-wallet:before { content: "\f11e"; }
    
    $font-Flaticon-agenda: "\f100";
    $font-Flaticon-briefcase: "\f101";
    $font-Flaticon-calculator: "\f102";
    $font-Flaticon-calendar: "\f103";
    $font-Flaticon-calendar-1: "\f104";
    $font-Flaticon-coffee-cup: "\f105";
    $font-Flaticon-credit-card: "\f106";
    $font-Flaticon-desk-chair: "\f107";
    $font-Flaticon-documentation: "\f108";
    $font-Flaticon-files: "\f109";
    $font-Flaticon-folders: "\f10a";
    $font-Flaticon-laptop: "\f10b";
    $font-Flaticon-light-bulb: "\f10c";
    $font-Flaticon-line-chart: "\f10d";
    $font-Flaticon-money: "\f10e";
    $font-Flaticon-money-bag: "\f10f";
    $font-Flaticon-monitor: "\f110";
    $font-Flaticon-mouse: "\f111";
    $font-Flaticon-notebook: "\f112";
    $font-Flaticon-office-block: "\f113";
    $font-Flaticon-padlock: "\f114";
    $font-Flaticon-placeholder: "\f115";
    $font-Flaticon-portfolio: "\f116";
    $font-Flaticon-printer: "\f117";
    $font-Flaticon-printer-1: "\f118";
    $font-Flaticon-ringtone: "\f119";
    $font-Flaticon-safebox: "\f11a";
    $font-Flaticon-smartphone: "\f11b";
    $font-Flaticon-target: "\f11c";
    $font-Flaticon-trophy: "\f11d";
    $font-Flaticon-wallet: "\f11e";